*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background: #eedac1;
    line-height: 1.5;

}
.slogan{
    color: #1716166d;
       
}
.wrap{
    max-width: 1000px;
    margin:0 auto;
    padding: 20px;
}

.site-header{
    background: #fff;
    border-bottom: 1px solid #eee;
}
.site-header .wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.logo{
    font-weight: 800;
    color: #111;
    text-decoration: none;
}

nav a{
    margin-left: 20px;
    color: #111;
    text-decoration: none;
}


.hero{
    padding:30px;
    text-align: center;
}

.btn{
    display: inline-block;
    padding:60px 10px;
    background: #111;
    color:#fff;
    text-decoration: none;
}

.btn.outline{
    background: transparent;
    color:#111;
    border: 1px solid #111 ;
}


.features{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:6px;
    padding:20px 10px;
}

.card{
    background: #fff;
    padding:30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.site-footer{
    border-top: 1px solid #eee;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    
}


